In [47]:
import pandas as pd
import numpy as np

In [48]:
dataframe = pd.read_csv('corona.csv')
dataframe.head(5)

,Unnamed: 0,Patient.age.quantile,SARS.Cov.2.exam.result,Patient.addmited.to.regular.ward..1.yes..0.no.,Patient.addmited.to.semi.intensive.unit..1.yes..0.no.,Patient.addmited.to.intensive.care.unit..1.yes..0.no.,Hematocrit,Hemoglobin,Platelets,Mean.platelet.volume,...,Parainfluenza.2,Neutrophils,Urea,Proteina.C.reativa.mg.dL,Creatinine,Potassium,Sodium,Influenza.B..rapid.test,Influenza.A..rapid.test,Strepto.A
0,68,7,1,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,285,16,1,1,0,0,NaN,NaN,NaN,NaN,...,not_detected,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,514,10,1,0,0,0,NaN,NaN,NaN,NaN,...,not_detected,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,569,2,1,0,0,0,0.991838,0.792188,-0.341548,1.469188,...,not_detected,-0.414215,-0.513909,NaN,-0.32234,-0.058626,0.143752,NaN,NaN,NaN
4,677,15,1,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
labels_blood = ["Hematocrit", "Hemoglobin", "Platelets", "Mean.platelet.volume", "Red.blood.Cells", 
                "Lymphocytes", "Mean.corpuscular.hemoglobin.concentration..MCHC.", "Leukocytes", "Basophils", 
                "Mean.corpuscular.hemoglobin..MCH.", "Eosinophils","Mean.corpuscular.volume..MCV." ,"Monocytes",
                "Red.blood.cell.distribution.width..RDW."]

In [50]:
dataframe.drop([0])

,Unnamed: 0,Patient.age.quantile,SARS.Cov.2.exam.result,Patient.addmited.to.regular.ward..1.yes..0.no.,Patient.addmited.to.semi.intensive.unit..1.yes..0.no.,Patient.addmited.to.intensive.care.unit..1.yes..0.no.,Hematocrit,Hemoglobin,Platelets,Mean.platelet.volume,...,Parainfluenza.2,Neutrophils,Urea,Proteina.C.reativa.mg.dL,Creatinine,Potassium,Sodium,Influenza.B..rapid.test,Influenza.A..rapid.test,Strepto.A
1,285,16,1,1,0,0,NaN,NaN,NaN,NaN,...,not_detected,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,514,10,1,0,0,0,NaN,NaN,NaN,NaN,...,not_detected,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,569,2,1,0,0,0,0.991838,0.792188,-0.341548,1.469188,...,not_detected,-0.414215,-0.513909,NaN,-0.322340,-0.058626,0.143752,NaN,NaN,NaN
4,677,15,1,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,885,15,1,1,0,0,-0.495919,-0.398276,-0.718402,-0.438097,...,not_detected,1.282118,0.974759,-0.247246,0.160114,-1.047272,0.862512,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999,5603,19,0,0,0,0,0.190738,0.165628,-0.102873,0.908221,...,not_detected,1.118221,0.379292,3.627427,0.470262,0.188535,-5.246946,NaN,NaN,NaN
2000,5608,0,0,0,0,0,NaN,NaN,NaN,NaN,...,not_detected,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001,5615,19,0,0,0,0,-0.289922,-0.523588,0.663397,-0.774677,...,not_detected,1.134611,-0.067309,5.733660,0.504723,-0.552949,-0.215628,NaN,NaN,NaN
2002,5616,15,0,0,0,0,0.717175,1.105468,-0.492289,-0.213711,...,not_detected,-0.061837,-0.365042,0.561468,-0.494645,0.435697,0.143752,NaN,NaN,NaN
2003,5619,17,0,0,0,0,-3.242548,-2.779203,-1.773594,-0.550290,...,not_detected,1.552548,2.240127,0.609157,0.470262,-0.305787,-1.293767,NaN,NaN,NaN

In [51]:
filtered = dataframe
for index, value in enumerate(dataframe.values):
    aux_list = []
    for label in labels_blood:
        aux_list.append(dataframe[label].values[index])
    for element in aux_list:
        if np.isnan(element):
            filtered = filtered.drop([index])
            break

In [52]:
filtered.head(5)
print(filtered.columns)

Index(['Unnamed: 0', 'Patient.age.quantile', 'SARS.Cov.2.exam.result',
       'Patient.addmited.to.regular.ward..1.yes..0.no.',
       'Patient.addmited.to.semi.intensive.unit..1.yes..0.no.',
       'Patient.addmited.to.intensive.care.unit..1.yes..0.no.', 'Hematocrit',
       'Hemoglobin', 'Platelets', 'Mean.platelet.volume', 'Red.blood.Cells',
       'Lymphocytes', 'Mean.corpuscular.hemoglobin.concentration..MCHC.',
       'Leukocytes', 'Basophils', 'Mean.corpuscular.hemoglobin..MCH.',
       'Eosinophils', 'Mean.corpuscular.volume..MCV.', 'Monocytes',
       'Red.blood.cell.distribution.width..RDW.',
       'Respiratory.Syncytial.Virus', 'Influenza.A', 'Influenza.B',
       'Parainfluenza.1', 'CoronavirusNL63', 'Rhinovirus.Enterovirus',
       'Coronavirus.HKU1', 'Parainfluenza.3', 'Chlamydophila.pneumoniae',
       'Adenovirus', 'Parainfluenza.4', 'Coronavirus229E', 'CoronavirusOC43',
       'Inf.A.H1N1.2009', 'Bordetella.pertussis', 'Metapneumovirus',
       'Parainfluenza.2', 'Neutrophils', 'Urea', 'Proteina.C.reativa.mg.dL',
       'Creatinine', 'Potassium', 'Sodium', 'Influenza.B..rapid.test',
       'Influenza.A..rapid.test', 'Strepto.A'],
      dtype='object')

In [53]:
positive = 0 
for value in filtered['SARS.Cov.2.exam.result'].values:
    if value == 1:
        positive+=1
positive

81

In [54]:
filtered = filtered.drop(columns=['Unnamed: 0', 
       'Patient.addmited.to.regular.ward..1.yes..0.no.',
       'Patient.addmited.to.semi.intensive.unit..1.yes..0.no.',
       'Patient.addmited.to.intensive.care.unit..1.yes..0.no.', 
       'Respiratory.Syncytial.Virus', 'Influenza.A', 'Influenza.B',
       'Parainfluenza.1', 'CoronavirusNL63', 'Rhinovirus.Enterovirus',
       'Coronavirus.HKU1', 'Parainfluenza.3', 'Chlamydophila.pneumoniae',
       'Adenovirus', 'Parainfluenza.4', 'Coronavirus229E', 'CoronavirusOC43',
       'Inf.A.H1N1.2009', 'Bordetella.pertussis', 'Metapneumovirus',
       'Parainfluenza.2', 'Neutrophils', 'Urea', 'Proteina.C.reativa.mg.dL',
       'Creatinine', 'Potassium', 'Sodium', 'Influenza.B..rapid.test',
       'Influenza.A..rapid.test', 'Strepto.A'])

In [55]:
filtered.to_csv('corona_blood.csv', index=False)